.product-thumbnail {
    object-fit: cover;
    height: 230px;
}

.btn-card-img {
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.drawer {
    height: 100vh;
    width: fit-content;
    position: fixed;
    top: 0;
}

.drawer-list {
    width: 100%;
    overflow-y: auto;
}
